html {
    /*height: 90vh;*/
    /*padding: 1vh;*/
    /*height:100%;*/
    font: 20px "Fira Code";
    font-weight: 300;
    word-break: keep-all;
    font-feature-settings: "calt" 1; /* Enable ligatures for IE 10+, Edge */
    text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
}

body {
    /*min-height: 96vh;*/
    /*min-width: 96vw;*/
    /*height: 98%;*/
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    padding: 6px;
    /*margin: 10px;*/
    /*justify-content: space-between;*/
}

nav {
    padding: 12px;
    border-bottom: 1px dotted hsl(0deg 0% 0% / 0.2);
}

ul.nav {
    align-items: baseline;
    display: flex;
    gap: 12px;
}

li.nav {
    display: inline;
}

li.user {
    display: flex;
    flex-direction: row;
}

.header {
    margin-right: auto;
}

.main {
    /*padding: 12px;*/
    /*flex-grow: 1;*/
}


.header {
    /*font-size: 24px;*/
    color: #640000;
}

.user {
    font-size: 16px;
}

.login-form {
    display: none;
}

.logged-in {
}

.help-block {
    /*color: #c33;*/
    margin-top: 0.5em;
    font-style: italic;
}

.messages {
    /*color: #c33;*/
    font-style: italic;
}

.form {
    padding: 12px;
}

.table {
    padding: 0 12px 0 12px;
}

.extra-content {
    padding: 12px
}

input[type="text"] {
    font: inherit;
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    border: 0;
    /*width: 100%;*/
    /*margin: 0.2em auto 0.2em 0;*/
    /*border: 1px dotted;*/
    /*width: 95%;*/
    /*font-size: 20px;*/
    /*margin-top: 0.5em;*/
    /*margin-bottom: 0.5em;*/
    /*color: #c33;*/
    /*height: 30px;*/
    /*padding-left: 10px;*/
    /*border-bottom-style: dotted;*/
    /*border-bottom-width: 1px;*/
}

/*input[type=text]:focus {*/
/*    !*outline: none;*!*/
/*    !*border: 1px solid;*!*/
/*    !*border: 0px;*!*/
/*    !*color: #c33;*!*/
/*}*/

input[type="text"]:placeholder-shown {
    font-style: italic;
    /*text-decoration-line: underline;*/
    /*text-decoration-style: dashed;*/
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin-top: auto;*/
    /*padding-top: 0.5em;*/
    /*font-style: italic;*/
    font-size: 15px;
    border-top: 1px dotted hsl(0deg 0% 0% / 0.2);
}

.f_right {
    display: flex;
    flex-direction: row;
}

.f_item {
    padding: 10px;
}

i {
    font-style: normal;
    color: #c33;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

ul.list_links {
    padding-top: 12px;
}

li.list_link {
    margin-left: 12px;
    list-style: circle;
}

tbody {
}

td {
    text-align: left;
    /*border-bottom: 1px dotted hsl(0deg 0% 0% / 0.2);*/
    /*font-size: 4vw;*/
}

td.counter {
    max-width: fit-content;
}

td.item_text {
    text-align: left;
    min-width: 95%;
}

/*margin: 10px 15px 20px 5px;*/
/*margin: top right bottom left;*/

a {
    color: #c33;
    text-decoration-line: none;
}

a:hover {
    color: #f50202;
    text-decoration-line: none;
}