<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do lists</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Fira_Code_v6.2/fira_code.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body>
<div class="container">

    <nav class="navbar" role="navigation">
        <a class="brand" href="/">Superlists</a>
        <form method="POST" action="#">
            {% csrf_token %}
            <label for="email">Enter email to log in:
                <input class="form-control" name="email" type="text" placeholder="edith@example.com"/>
            </label>
        </form>
    </nav>

    <div class="header" id="header">
        {% block header_text %}{% endblock %}
    </div>

    <div class="form">
        <form method="POST" action="{% block form_action %}{% endblock %}">
            {% csrf_token %}
            <label for="text">Enter a to-do item: {{ form.text }}</label>
            {% if form.errors %}
                <div class="form-group has-error">
                    <div class="help-block">{{ form.text.errors }}</div>
                </div>
            {% endif %}
        </form>
    </div>
    <div class="table">
        {% block table %}{% endblock %}
    </div>
</div>

<div class="footer">
    <div class="f_item">🤙 davidlpoole
        <script>document.write(new Date().getFullYear())</script>
    </div>
    <div class="f_item"><a href="https://github.com/davidlpoole/">👉 my GitHub profile</a></div>
    <div class="f_item"><a href="https://github.com/davidlpoole/obeythetestinggoat">👉 this specific repo</a></div>
</div>


<script src="/static/jquery-3.7.0.min.js"></script>
<script src="/static/lists.js"></script>

<script>

    $(document).ready(function () {
        window.Superlists.initialize();
    });

</script>
</body>
</html>