<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do lists</title>
    <link rel="stylesheet" href="/static/Fira_Code_v6.2/fira_code.css">
    <link rel="stylesheet" href="/static/base.css">
</head>

<body>
<div class="code light">
    <div class="header" id="header">
        {% block header_text %}{% endblock %}
    </div>
    <div>
        <form method="POST" action="{% block form_action %}{% endblock %}">
            {% csrf_token %}
            {{ form.text }}
            {% if form.errors %}
                <div class="form-group has-error">
                    <div class="help-block">{{ form.text.errors }}</div>
                </div>
            {% endif %}
        </form>
    </div>
    <div>
        {% block table %}{% endblock %}
    </div>
</div>

<div class="footer">
    © davidlpoole
    <script>document.write(new Date().getFullYear())</script>
    <a href="https://github.com/davidlpoole/">//=> my GitHub profile</a>
    <a href="https://github.com/davidlpoole/obeythetestinggoat">//=> this specific repo</a>
</div>


<script src="/static/jquery-3.7.0.min.js"></script>
<script src="/static/lists.js"></script>

<script>

    $(document).ready(function () {
        window.Superlists.initialize();
    });

</script>
</body>
</html>