{% extends 'base.html' %}

{% block header_text %}
    Your To-Do list
{% endblock %}

{% block form_action %}
    {% url 'view_list' list.id %}
{% endblock %}

{% block table %}
    <div class="table">
        <table class="list_table" id="id_list_table">
            {% for item in list.item_set.all %}
                <tr>
                    <td class="counter">
                        {{ forloop.counter }}:
                    </td>
                    <td class="item_text">
                        {{ item.text }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}